.menu-container {
    padding: 32px;
    background-color: #f9f9f9;
  }
  
  .menu-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 16px; /* Espaciado uniforme entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
  }
  
  